<!--suppress HtmlUnknownAnchorTarget -->
<template>
    <header>
        <a href="/"><img alt="Codeforces" src="../assets/img/logo.png" title="Codeforces"/></a>
        <div class="languages">
            <a href="#"><img alt="In English" src="../assets/img/gb.png" title="In English"/></a>
            <a href="#"><img alt="In Russian" src="../assets/img/ru.png" title="In Russian"/></a>
        </div>
        <div class="enter-or-register-box">
            <template v-if="userId">
                {{users[userId].name}}
                |
                <a @click="logout" href="#page=Logout">Logout</a>
            </template>
            <template v-else>
                <a @click="changePage('Enter')" href="#page=Enter">Enter</a>
                |
                <a @click="changePage('Register')" href="#page=Enter">Register</a>
            </template>
        </div>
        <nav>
            <ul>
                <li><a @click="changePage('Index')" href="#page=Index">Home</a></li>
                <li><a @click="changePage('Users')" href="#page=Users">Users</a></li>
                <li v-if="userId"><a @click="changePage('AddPost')" href="#page=AddPost">Add Post</a></li>
                <li v-if="userId"><a @click="changePage('EditPost')" href="#page=EditPost">Edit Post</a></li>
            </ul>
        </nav>
    </header>
</template>

<script>
    export default {
        props: ['userId', 'users'],
        name: "Header",
        beforeCreate() {
            this.$root.$on("onEnterSuccess", () => {
                this.changePage('Index');
            });
            this.$root.$on("onRegisterSuccess", () => {
                this.changePage('Index');
            });
        },
        methods: {
            changePage: function (page) {
                this.$root.$emit("onChangePage", page);
            }, logout: function () {
                this.$root.$emit("onLogout");
                this.changePage('Index');
            }
        }
    }
</script>

<style scoped>
    header .languages a {
        margin-left: 0.25rem;
    }
</style>
