<template>
    <div class="middle">
        <Sidebar :posts="posts" :users="users"/>
        <main>
            <Index :comments="comments" :posts="posts" :users="users" v-if="page === 'Index'"/>
            <Users :users="users" v-if="page === 'Users'"/>
            <Enter v-if="page === 'Enter'"/>
            <Register v-if="page === 'Register'"/>
            <AddPost v-if="page === 'AddPost'"/>
            <EditPost v-if="page === 'EditPost'"/>
            <ViewPost :comments="comments" :postId="postId" :posts="posts" :users="users" v-if="page === 'ViewPost'"/>
        </main>
    </div>
</template>
<script>
    import Index from './middle/Index';
    import Enter from './middle/Enter';
    import Register from './middle/Register';
    import AddPost from './middle/AddPost';
    import EditPost from "./middle/EditPost";
    import Sidebar from "./Sidebar";
    import Users from "./middle/Users";
    import ViewPost from "./middle/ViewPost";

    export default {
        name: "Middle",
        props: ['users', 'posts', 'comments'],
        data: function () {
            return {
                page: "Index"
            }
        },

        components: {
            Sidebar,
            EditPost,
            Index,
            Enter,
            Register,
            AddPost,
            Users,
            ViewPost
        }, beforeCreate() {
            this.$root.$on("onChangePage", (page) => {
                this.page = page;
            });

            this.$root.$on("onDisplayPost", (id) => {
                this.postId = id;
                this.page = 'ViewPost';
                this.$root.$emit("onPostIdChanged", id);
            });
        }
    }
</script>

<style scoped>

</style>
