<template>
    <aside>
        <SidebarPost :key="post.id" :post="post" :users="users" v-for="post in viewPosts"/>
    </aside>
</template>

<script>
    import SidebarPost from './sidebar/SidebarPost';

    export default {
        props: ['users', 'posts'],
        name: "Sidebar",
        components: {
            SidebarPost
        }, computed: {
            viewPosts: function () {
                return Object.values(this.posts).sort((a, b) => b.id - a.id).slice(0, 2);
            }
        },

    }
</script>

<style scoped>

</style>
