<template>
    <div>
        <template v-for="post in sortedPosts">
            <PostContainer :comments="comments" :displayingPost="post" :posts="posts" :users="users"
                           v-bind:key="post.id"/>
        </template>
    </div>

</template>

<script>
    import PostContainer from "./containers/PostContainer";

    export default {
        name: "Index",
        props: ['users', 'posts', 'comments'],
        components: {
            PostContainer
        },
        computed: {
            sortedPosts:
                function () {
                    return Object.values(this.posts).sort((a, b) => b.id - a.id);
                }

        }
    }
</script>

<style scoped>

</style>
