<template>
    <div class="datatable">
        <div class="caption">Users</div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="user in users">
                <tr v-bind:key="user.id">
                    <td>{{user.id}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.name}}</td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Users",
        props: ['users']
    }
</script>

<style scoped>

</style>
