<template>
    <div>
        <h1>Showing post #{{this.postId}}</h1>
        <template>
            <PostContainer :comments="comments" :displayingPost="displayingPost" :posts="posts" :users="users"
                           v-bind:key="postId"/>
            <div class="comments" v-bind:key="comment.id" v-for="comment in postComments">
                <CommentContainer :comments="comments" :displayingComment="comment" :users="users"/>
            </div>
        </template>
    </div>

</template>

<script>
    import PostContainer from "./containers/PostContainer";
    import CommentContainer from "./containers/CommentContainer";

    export default {
        name: "Index",
        props: ['users', 'posts', 'comments', 'postId'],
        components: {
            CommentContainer,
            PostContainer
        },
        methods: {
            updateIdAndPosts: function (id) {
                this.postId = id;
                this.displayingPost = this.posts[this.postId];
                this.postComments = Object.values(this.comments).filter((comm) => comm.postId === this.postId);
            }
        },
        beforeMount() {
            this.$root.$on("onPostIdChanged", (id) => this.updateIdAndPosts(id));
            this.updateIdAndPosts(this.postId);
        }
    }
</script>

<style scoped>

</style>
