/* form-box */
.form-box {
    border: 1px solid var(--border-color);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 30rem;
    margin: 0 auto;
}

.form-box .header {
    border-bottom: 1px solid var(--border-color);
    color: var(--caption-color);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.form-box .field {
    margin: 1.5rem 0;
    overflow: hidden;
}

.form-box .field .name {
    width: 11rem;
    float: left;
    text-align: right;
    padding-right: 1rem;
}

.form-box .field .value {
    width: 15rem;
    float: left;
}

.form-box .field input {
    width: 100%;
}

.form-box .button-field {
    margin: 1.5rem 1.5rem 1.5rem 12rem;
}

.form-box .button-field input {
    padding: 0.1rem 1.5rem;
}

.form-box .error {
    clear: both;
    color: var(--error-color);
    font-size: 0.75rem;
    margin-left: 12rem;
}

/* form */
.form {
    width: 36rem;
    margin: 0 auto;
}

.form .header {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form .field {
    margin-bottom: 1rem;
}

.form .field .name {
}

.form .field .value {
    width: 35rem;
}

.form .field input, .form .field textarea {
    width: 100%;
}

.form .field textarea {
    min-height: 10rem;
}

.form .button-field {
}

.form .button-field input {
    padding: 0.1rem 1.5rem;
}

.form .error {
    color: var(--error-color);
    font-size: 0.75rem;
}

.commentForm {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    overflow: auto;
}

.commentForm .name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.commentForm textarea {
    height: 4rem;
    overflow: auto;
}