<template>
    <div class="comment">
        <ul class="commentInfo">
            <li>By {{users[displayingComment.userId].login}}</li>
            <li>{{displayingComment.text}}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['users', 'displayingComment', 'comments'],
        name: "CommentContainer",
    }
</script>

<style scoped>

</style>
