<template>
    <article>
        <div class="title"><a :href="'#ViewPost?postId=' + displayingPost.id" @click="displayPost(displayingPost.id)">{{displayingPost.title}}</a>
        </div>
        <div class="information">By {{users[displayingPost.userId].login}}</div>
        <div class="body">
            {{displayingPost.text}}
        </div>
        <ul class="attachment">
            <li>Announcement of <a href="#">Codeforces Round #510 (Div. 1)</a></li>
            <li>Announcement of <a href="#">Codeforces Round #510 (Div. 2)</a></li>
        </ul>

        <div class="footer">
            <div class="left">
                <img alt="Vote Up" src="../../../assets/img/voteup.png" title="Vote Up"/>
                <span class="positive-score">+173</span>
                <img alt="Vote Down" src="../../../assets/img/votedown.png" title="Vote Down"/>
            </div>
            <div class="right">
                <img alt="Publish Time" src="../../../assets/img/date_16x16.png" title="Publish Time"/>
                2 Nov 2019
                <img alt="Comments" src="../../../assets/img/comments_16x16.png" title="Comments"/>
                <a href="#">{{postComments.length}}</a>
            </div>
        </div>
    </article>
</template>

<script>
    export default {
        props: ['users', 'posts', 'displayingPost', 'comments'],
        name: "PostContainer",
        beforeMount() {
            this.postComments = Object.values(this.comments).filter((comment) => comment.postId === this.displayingPost.id);
        },
        methods: {
            displayPost: function (id) {
                this.postId = id;
                this.$root.$emit("onDisplayPost", id);
            }
        }
    }
</script>

<style scoped>

</style>
