<template>
    <div>
        <h3>{{this.count}} comments:</h3>
        <div class="comments" v-bind:key="comment.id" v-for="comment in comments">
            <CommentContainer :displayingComment="comment"/>
        </div>
    </div>
</template>

<script>
    import CommentContainer from "./CommentContainer";

    export default {
        name: "CommentsList",
        props: ['comments', 'count'],
        components: {
            CommentContainer
        }
    }
</script>

<style scoped>
    label {
        display: block;
        margin-top: 1rem;
    }

    .login, textarea {
        width: 60%;
        box-sizing: border-box;
    }

    input[type='submit'] {
        margin-top: 1rem;
        width: 6rem;
    }

    .error {
        color: var(--error-color);
    }
</style>