<template>
    <div class="comment">
        <ul class="commentInfo">
            <li>By {{displayingComment.user.login}}</li>
            <li>{{displayingComment.text}}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['displayingComment'],
        name: "CommentContainer",
    }
</script>

<style scoped>

</style>
