<template>
    <article v-bind:id="displayingPost.id">
        <div class="title"><a :href="'#ViewPost?postId=' + displayingPost.id" @click="displayPost(displayingPost.id)">{{displayingPost.title}}</a>
        </div>
        <div class="information">By {{displayingPost.user.login}}</div>
        <div class="body">
            {{displayingPost.text}}
        </div>
        <ul class="attachment">
            <li><img alt="Attachment" src="../../../assets/img/paperclip-16x16.png" title="Attachment"/>
                Announcement of <a href="#">Codeforces Round #510 (Div. 1)</a></li>
            <li><img alt="Attachment" src="../../../assets/img/paperclip-16x16.png" title="Attachment"/>
                Announcement of <a href="#">Codeforces Round #510 (Div. 2)</a></li>
        </ul>

        <div class="footer">
            <div class="left">
                <img alt="Vote Up" src="../../../assets/img/voteup.png" title="Vote Up"/>
                <span class="positive-score">+173</span>
                <img alt="Vote Down" src="../../../assets/img/votedown.png" title="Vote Down"/>
            </div>
            <div class="right">
                <img alt="Publish Time" src="../../../assets/img/date_16x16.png" title="Publish Time"/>
                2 Nov 2019
                <img alt="Comments" src="../../../assets/img/comments_16x16.png" title="Comments"/>
                <a href="#">{{displayingPost.comments.length}}</a>
            </div>
        </div>
    </article>
</template>

<script>
    export default {
        props: ['displayingPost'],
        name: "PostContainer",
        methods: {
            displayPost: function (id) {
                this.postId = id;
                this.$root.$emit("onDisplayPost", id);
            }
        }
    }
</script>

<style scoped>

</style>
