<!--suppress HtmlUnknownAnchorTarget -->
<template>
    <header>
        <a href="/"><img src="../assets/img/logo.png" alt="Codeforces" title="Codeforces"/></a>
        <div class="languages">
            <a href="#"><img src="../assets/img/gb.png" alt="In English" title="In English"/></a>
            <a href="#"><img src="../assets/img/ru.png" alt="In Russian" title="In Russian"/></a>
        </div>
        <div class="enter-or-register-box">
            <template v-if="user">
                {{user.login}}
                |
                <a href="#page=Logout" @click="logout">Logout</a>
            </template>
            <template v-else>
                <a href="#page=Enter" @click="changePage('Enter')">Enter</a>
                |
                <a href="#page=Enter" @click="changePage('Register')">Register</a>
            </template>
        </div>
        <nav>
            <template v-if="user">
                <ul>
                    <li><a href="#page=Index" @click="changePage('Index')">Home</a></li>
                    <li><a @click="changePage('Users')" href="#page=Users">Users</a></li>
                    <li><a @click="changePage('AddPost')" href="#page=AddPost">Add Post</a></li>
                </ul>
            </template>
            <template v-else>
                <ul>
<!--                    <li><a @click="changePage('AddPost')" href="#page=AddPost">Add Post</a></li>-->
                    <li><a href="#page=Index" @click="changePage('Index')">Home</a></li>
                    <li><a @click="changePage('Users')" href="#page=Users">Users</a></li>
                </ul>
            </template>
        </nav>
    </header>
</template>

<script>
    export default {
        props: ['user'],
        name: "Header",
        beforeCreate() {
            this.$root.$on("onEnterSuccess", () => {
                this.changePage('Index');
            });
        },
        methods: {
            changePage: function (page) {
                this.$root.$emit("onChangePage", page);
            }, logout: function () {
                this.$root.$emit("onLogout");
                this.changePage('Index');
            }
        }
    }
</script>

<style scoped>
    header .languages a {
        margin-left: 0.25rem;
    }
</style>
