<template>
    <div class="middle">
        <aside>
            <SidebarPost v-for="post in viewPosts" :post="post" :key="post.id"/>
        </aside>
        <main>
            <Index :posts="posts" v-if="page === 'Index'"/>
            <Enter v-if="page === 'Enter'"/>
            <Users v-if="page === 'Users'"/>
            <AddPost v-if="page === 'AddPost'"/>
            <ViewPost :posts="posts" :postId="postId" v-if="page === 'ViewPost'"/>
            <Register v-if="page === 'Register'"/>
        </main>
    </div>
</template>
<script>
    import Index from './middle/Index';
    import Enter from './middle/Enter';
    import Register from './middle/Register';
    import SidebarPost from './SidebarPost';
    import Users from "./middle/Users";
    import AddPost from "./middle/AddPost";
    import ViewPost from "./middle/ViewPost";

    export default {
        name: "Middle",
        props: ["posts", "users"],
        data: function () {
            return {
                page: "Index",
                postId: undefined
            }
        },
        computed: {
            viewPosts: function () {
                return Object.values(this.posts).sort((a, b) => b.id - a.id).slice(0, 2);
            }
        },
        components: {
            AddPost,
            Index,
            Enter,
            Register,
            SidebarPost,
            ViewPost,
            Users
        }, beforeCreate() {
            this.$root.$on("onChangePage", (page) => {
                this.page = page;
            });
            this.$root.$on("onDisplayPost", (id) => {
                this.postId = id;
                this.page = 'ViewPost';
                this.$root.$emit("onPostIdChanged", id);
            });
        }
    }
</script>

<style scoped>

</style>
