<template>
    <div>
        <template v-for="post in posts">
            <PostContainer :displayingPost="post" :posts="posts"
                           v-bind:key="post.id"/>
        </template>
    </div>

</template>

<script>
    import PostContainer from "./containers/PostContainer";
    import axios from "axios";

    export default {
        name: "Index",
        components: {
            PostContainer
        },
        data: function() {
            return {
                posts: []
            }
        },
        beforeMount() {
            this.getUsersList()
        },
        methods: {
            getUsersList() {
                axios.get('/api/1/posts')
                    .then(response => {
                        this.posts = response["data"].sort((a, b) => b.id - a.id);
                    });
            }
        }
    }
</script>

<style scoped>

</style>
