<template>
    <div>
        <!--        <h1>Register</h1>-->
        <div class="register form-box">
            <div class="header">Register</div>
            <div class="body">
                <form @submit.prevent="onRegister">
                    <div class="field">
                        <div class="name">
                            <label for="login">Login</label>
                        </div>
                        <div class="value">
                            <input id="login" name="login" v-model="login"/>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="value">
                            <input id="name" name="name" v-model="name"/>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            <label for="password">Password</label>
                        </div>
                        <div class="value">
                            <input id="password" name="password" v-model="password" type="password"/>
                        </div>
                    </div>

                    <div class="error">{{error}}</div>

                    <div class="button-field">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Register",
        data: function () {
            return {
                login: "",
                password: "",
                name: "",
                error: ""
            }
        },
        beforeMount() {
            this.login = "";
            this.password = "";
            this.name = "";
            this.error = "";
            this.$root.$on("onRegisterValidationError", error => this.error = error);
        }, methods: {
            onRegister: function () {
                this.$root.$emit("onRegister", this.login, this.password, this.name);
            }
        }
    }
</script>

<style scoped>

</style>
