<template>
    <div class="datatable">
        <div class="caption">Users</div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" v-bind:key="user.id">
                <td>{{user.id}}</td>
                <td>{{user.login}}</td>
                <td>{{user.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Users",
        data: function() {
            return {
                users: []
            }
        },
        beforeMount() {
            this.getUsersList()
        },
        methods: {
            getUsersList() {
                axios.get('/api/1/users')
                    .then(response => {
                        this.users = response["data"].sort((a, b) => a.id - b.id)
                    });
            }
        }
    }
</script>

<style scoped>

</style>