<template>
    <div>
        <h1>Showing post #{{this.postId}}</h1>
        <template>
            <PostContainer :displayingPost="displayingPost" v-bind:key="this.postId"/>

            <div class="comment-form">
                <form @submit.prevent="onAddComment">
                    <div>
                        <label for="text">
                            Text:
                        </label>
                        <textarea id="text" rows="4" v-model="text"/>
                    </div>
                    <div class="error">{{error}}</div>
                    <div>
                        <input type="submit" value="Send"/>
                    </div>
                </form>
            </div>

            <CommentsList :comments="displayingComments" :count="displayingComments.length"/>

        </template>
    </div>

</template>

<script>
    import PostContainer from "./containers/PostContainer";
    import CommentsList from "./containers/CommentsList";

    export default {
        name: "Index",
        props: ['posts', 'postId'],
        data: function () {
            return {
                text: "",
                error: "",
                displayingPost: undefined,
                comments: []
            }
        },
        components: {
            CommentsList,
            PostContainer
        }, computed: {
            displayingComments: function (){
                return this.posts.filter(post => (post.id === this.postId))[0].comments;
            }
        },
        methods: {
            updateIdAndPosts: function (id) {
                this.postId = id;
                this.$root.$emit("onPostsUpdated");
                this.displayingPost = this.posts.filter(post => (post.id === id))[0];
                this.comments = this.displayingPost.comments;
            },
            onAddComment: function () {
                this.$root.$emit("onAddComment", this.postId, this.text);
                this.text="";
            }
        },
        beforeMount() {
            this.title = "";
            this.text = "";
            this.error = "";
            this.$root.$on("onAddCommentValidationError", error => this.error = error);
            this.$root.$on("onPostIdChanged", (id) => this.updateIdAndPosts(id));
            this.updateIdAndPosts(this.postId);
        }
    }
</script>

<style scoped>
    label {
        display: block;
        margin-top: 1rem;
    }

    .login, textarea {
        width: 60%;
        box-sizing: border-box;
    }

    input[type='submit'] {
        margin-top: 1rem;
        width: 6rem;
    }

    .error {
        color: var(--error-color);
    }
</style>
