main article{
    position: relative;
    display: block;
    overflow: auto;
}

main article .title{
    position: relative;
    display: block;
    font-weight: bold;
    color: #3b5998;
    font-size: larger;
}

main article .information{
    position: relative;
    display: block;
    color: #888888;
    font-size: small;
}

main article .body{
    position: relative;
    display: block;
    border-left: 4px solid #b9b9b9;
    padding-left: 1rem;
    margin-top: 1rem;
}

main article .body p:first-child{
    margin-top: 0;
    padding-top: 0;
}

main article .attachment{
    list-style: url("../img/paperclip-16x16.png");
}

/*main article .attachment li:before {*/
/*    position: relative;*/
/*    display: inline;*/
/*    content: url("../img/paperclip-16x16.png");*/
/*    margin-right: 0.2rem;*/
/*}*/

main article .attachment li{
    position: relative;
    font-size: smaller;
    color: #968896;
}

main article .body p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}

main article .footer {
    position: relative;
    border: 1px solid #b9b9b9;
    border-radius: var(--border-radius);
    /*overflow: auto;*/
    margin-top: 1rem;
    margin-bottom: 4rem;
    height: 2rem;
}

main article .footer .left {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0.5rem 0 0.1rem 1rem;
}

main article .footer .right {
    position: relative;
    float: right;
    display: inline-block;
    margin: -0.5rem 1rem 0 0;
}


main article .footer .left span {
    position: relative;
    display: inline-block;
    color: #008000;
    font-weight: bold;
    bottom: 5px;
}

main article .footer .right img {
    position: relative;
    display: inline-block;
    top: 2px;
}

main article .footer .right .creationTime {
    position: relative;
    display: inline-block;
}