:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.middle {
    margin-top: 1rem;
    overflow: auto;
}

aside {
    float: right;
    width: 20%;
    max-width: 20rem;
    margin: 1rem;
    display: inline;
}

html footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}

nav > ul {
    display: inline-block;
}

nav > .search {
    float: right;
    width: max-content;
    height: max-content;
}

nav > .search > input {
    position: relative;
    background: url("../img/search-16x16.png") 0.2rem 0.2rem no-repeat;
    border: 1px solid #545454;
    border-radius: 4px;
    margin-right: 0.5rem;
    padding-left: 20px;
}


.middle main {
    position: relative;
    display: inline-block;
    width: 75%;
}

.middle main .datatable {
    position: relative;
    display: inline-block;
    width: 100%;
}

.middle main .datatable .caption {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #e1e1e1;
    padding: 0.25rem 0 0.25rem 0.5rem;
    box-sizing: border-box;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
}


table thead {
    position: relative;
    width: auto;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}


th,
td {
    text-align: center;
    display: table-cell;
    border: 1px solid #e1e1e1;
    height: fit-content;
    padding: 0.2rem;
}

