:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.middle {
    margin-top: 1rem;
    overflow: auto;
}

aside {
    float: right;
    width: 20rem;
    max-width: 20rem;
    margin: 1rem;
    display: inline;
}

.middle main {
    position: relative;
    display: block;
    overflow: auto;
}

html footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}

nav > ul {
    display: inline-block;
}

nav > .search {
    float: right;
    width: max-content;
    height: max-content;
}

nav > .search > input {
    position: relative;
    background: url("../img/search-16x16.png") 0.2rem 0.2rem no-repeat;
    border: 1px solid #545454;
    border-radius: 4px;
    margin-right: 0.5rem;
    padding-left: 20px;
}

.login-form-box {
    position: relative;
    display: block;
    background: white;
    border: 1px solid #333333;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    left: 30%;
    float: left;
    width: fit-content;
    /*min-width: 450px;*/
    /*max-width: 450px;*/
}


.login-form-box .header {
    position: relative;
    border-bottom: 1px solid #333333;
    margin-bottom: 2rem;
    padding: 5px;
    text-align: left;
    color: #3b5998;
    font-weight: bold;
}


.login-form-box .field {
    clear: both;
}

.login-form-box .body form .field .name{
    position: relative;
    display: inline;
    width: fit-content;
    height: fit-content;
}

.login-form-box .body form .field .value{
    position: relative;
    display: inline;
    width: fit-content;
    height: fit-content;
    margin-right: 2rem;
}

.login-form-box .body form .field .name label {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1rem;
    display: inline;
    width: 7rem;
    text-align: right;
    float: left;
}

.login-form-box .field #handleOrEmail {
    display: inline;
    padding-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1rem;
    width: 10rem;
}

.login-form-box .field #password {
    display: inline;
    padding-left: 2rem;
    line-height: 1rem;
    width: 10rem;
}

.login-form-box .field .error {
    padding-left: 11rem;
    font-size: 0.75rem;
    color: red;
    margin-bottom: 1rem;
}


.checkbox-field {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    line-height: 1rem;
}

.checkbox-field > input {
    position: relative;
    display: inline;
    left: 11rem;
}

.checkbox-field > label {
    position: relative;
    display: inline;
    left: 11.2rem;
    font-size: 0.8rem;
}

.button-field {
    position: relative;
    width: 100%;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-field input {
    position: relative;
    display: block;
    left: 11rem;
}

.links {
    position: relative;
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #333333;
}

.links > a {
    position: relative;
    font-size: 0.75rem;
    float: right;
    margin-right: 0.25rem;
}

.login-form-box .footer {
    position: relative;
    display: inline;
    width: 100%;
    height: 1rem;
}

.login-form-box .footer > a {
    display: inline;
    float: right;
    padding: 0 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

