:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.middle {
    margin-top: 1rem;
    overflow: auto;
}

aside {
    float: right;
    width: 20rem;
}

main {
    margin-right: 21rem;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-bottom: 1.5rem;
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}

.profile {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: auto;
}

.profile > .text_info {
    display: inline-block;
    position: relative;
    width: 40%;
}

.profile > .text_info > header {
    display: block;
    position: relative;
    font-size: xx-large;
    padding: 1rem;
    width: max-content;
    overflow: auto;
}

.profile > .text_info > .user_attributes {
    display: inline-block;
    margin-left: 1rem;
    overflow: auto;
}

.profile > #avatar_image {
    position: relative;
    float: right;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
    overflow: auto;
}

.user_arrow {
    font-size: x-large;
    text-decoration: none;
}

.user_arrow > a {
    text-decoration: none;
}

main .blogs-list .blog-item {
    list-style-type: none;
    margin-bottom: 2rem;
}


main article {
    position: relative;
    display: block;
    overflow: auto;
}

main article .title {
    position: relative;
    display: block;
    font-weight: bold;
    color: #3b5998;
    font-size: larger;
    margin-top: 0.5rem;
}

main article .title a {
    text-decoration: none;
    font-weight: bold;
    color: #3b5998;
    font-size: larger;
    margin-top: 0.5rem;
}

main article .information {
    position: relative;
    display: block;
    color: #888888;
    font-size: small;
}

main article .body {
    position: relative;
    display: block;
    border-left: 4px solid #b9b9b9;
    padding-left: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

main article .body p:first-child {
    margin-top: 0;
    padding-top: 0;
}

main article .attachment {
    list-style: url("../img/paperclip-16x16.png");
}

/*main article .attachment li:before {*/
/*    position: relative;*/
/*    display: inline;*/
/*    content: url("../img/paperclip-16x16.png");*/
/*    margin-right: 0.2rem;*/
/*}*/

main article .attachment li {
    position: relative;
    font-size: smaller;
    color: #968896;
}

main article .body p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

main article .footer {
    position: relative;
    border: 1px solid #b9b9b9;
    border-radius: var(--border-radius);
    overflow: auto;
}

main article .footer .left {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0.5rem 0 0.1rem 1rem;
}

main article .footer .right {
    position: relative;
    float: right;
    display: inline-block;
    margin: 0.5rem 1rem 0.1rem 0;
}

main article .footer .left span {
    position: relative;
    display: inline-block;
    color: #008000;
    font-weight: bold;
    bottom: 5px;
}

main article .footer .right img {
    position: relative;
    display: inline-block;
    top: 2px;
}

.userlink-BLUE {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.userlink-GREEN {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: green;
}

.userlink-RED {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: red;
}


.middle main .datatable {
    position: relative;
    display: inline-block;
    width: 100%;
}

.middle main .datatable .caption {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #e1e1e1;
    padding: 0.25rem 0 0.25rem 0.5rem;
    box-sizing: border-box;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
}


table thead {
    position: relative;
    width: auto;
}

tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}


th,
td {
    text-align: center;
    display: table-cell;
    border: 1px solid #e1e1e1;
    height: fit-content;
    padding: 0.2rem;
}

