<#import "commons.ftlh" as c>

<@c.page>
    Welcome on Codeforces!

    <div class="noData">
        <p>No data</p>
    </div>

    <div class="articles">
        <template>
            <article>
                <div class="title"></div>
                <div class="user_login"></div>
                <div class="body"></div>
                <div class="footer">
                    <div class="right">
                        <img src="img/date_16x16.png" title="Publish Time" alt="Publish Time"/>
                        <p class="creationTime"></p>
                    </div>
                </div>
            </article>
        </template>
    </div>

    <script>
        $(function () {
            $("aside section").click(function () {
                $(this).css("background-color", "red");
            });
        })
    </script>

    <script>
        $(function () {
            var $noData = $(".noData");
            $noData.find("p").text("Loading...");

            ajax({
                    action: "fetchArticles"
                },
                function (response) {
                    response["articles"].forEach(function (article) {
                        $noData.hide();
                        var $art = $($(".articles template").prop("content")).clone();
                        $art.find(".title").text(article["title"]);
                        $art.find(".user_login").text("By " + response["userNames"][article["userId"]]);
                        $art.find(".body").text(article["text"]);
                        $art.find(".creationTime").text(article["creationTime"]);
                        $(".articles").append($art);
                    });
                }
            );
        })
    </script>
</@c.page>



