<#-- @ftlvariable name="users" type="ru.itmo.wp.model.domain.User[]" -->
<#-- @ftlvariable name="user" type="ru.itmo.wp.model.domain.User" -->
<#import "commons.ftlh" as c>

<@c.page>
    <div class="users datatable">
        <div class="caption">User</div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <#if user?? && user.admin!false>
                    <th>Adminity</th>
                </#if>
            </tr>
            </thead>
            <tbody>
            <#if user?? && user.admin!false>
                <template class="adminTemplate">
                    <tr>
                        <td class="user_id"></td>
                        <td class="user_login"></td>
                        <td class="toggle_admin">
                            <button class="toggle_admin_button" id="toggle_admin_button"></button>
                        </td>
                    </tr>
                </template>
            <#else>
                <template class="regularTemplate">
                    <tr>
                        <td class="user_id"></td>
                        <td class="user_login"></td>
                    </tr>
                </template>
            </#if>
            <tr class="noData">
                <td colspan="3">
                    No data
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(function () {
            var $noData = $(".users .noData");
            $noData.find("td").text("Loading...");

            ajax({
                    action: "findAll"
                },
                function (response) {
                    $noData.hide();
                    if (response["user"] && response["user"]["admin"]) {
                        response["users"].forEach(function (user) {
                            var $tr = $($(".users .adminTemplate").prop("content")).clone();
                            $tr.find(".user_id").text(user["id"]);
                            $tr.find(".user_login").text(user["login"]);
                            $tr.find("tr").attr("data-userId", user["id"]);
                            $tr.find(".toggle_admin_button").text(user["admin"] ? "Demote" : "Promote");
                            $tr.find(".toggle_admin_button").attr("value", user["id"]);
                            $(".users tbody").append($tr);
                        });
                    } else {
                        response["users"].forEach(function (user) {
                            var $tr = $($(".users .regularTemplate").prop("content")).clone();
                            $tr.find(".user_id").text(user["id"]);
                            $tr.find(".user_login").text(user["login"]);
                            $tr.find("tr").attr("data-userId", user["id"]);
                            $(".users tbody").append($tr);
                        });
                    }
                    $(".users .toggle_admin_button").click(function () {
                        $button = $(this);
                        ajax({
                                action: "toggleAdmin",
                                userId: $button.attr("value")
                            },
                            function (response) {
                                $button.text(response["buttonText"]);
                            });
                    });
                }
            );
        })
    </script>
</@c.page>
