<template>
    <section>
        <div class="header">
            By {{users[post.userId].login}}
        </div>
        <div class="body">
            {{post.text}}
        </div>
        <div class="footer">
            <a :href="'#ViewPost?postId=' + post.id" @click="displayPost(post.id)">View all</a>
        </div>
    </section>

</template>

<script>
    export default {
        props: ['users', 'post'],
        name: "SidebarPost",
        methods: {
            displayPost: function (id) {
                this.$root.$emit("onDisplayPost", id);
            }
        }
    }
</script>

<style scoped>

</style>
