/* form-box */
.form-box {
    border: 1px solid var(--border-color);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 30rem;
    margin: 0 auto;
}

.form-box .header {
    border-bottom: 1px solid var(--border-color);
    color: var(--caption-color);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.form-box .field {
    margin: 1.5rem 0;
    overflow: hidden;
}

.form-box .field .name {
    width: 11rem;
    float: left;
    text-align: right;
    padding-right: 1rem;
}

.form-box .field .value {
    width: 15rem;
    float: left;
}

.form-box .field input {
    width: 100%;
}

.form-box .button-field {
    margin: 1.5rem 1.5rem 1.5rem 12rem;
}

.form-box .button-field input {
    padding: 0.1rem 1.5rem;
}

.form-box .error {
    clear: both;
    color: var(--error-color);
    font-size: 0.75rem;
    margin-left: 12rem;
}


.addNoticeForm {
    position: relative;
    display: inline-block;
    min-height: 20rem;
}

.addNoticeForm label {
    position: relative;
    display: inline-block;
    left: 10%;
    margin-top: 1rem;
}

.addNoticeForm #content {
    position: relative;
    display: block;
    width: 120%;
    margin-top: 1rem;
    overflow: auto;
    left: 10%;
    min-height: 15rem;
    text-align: left;
}